:root {
  --primary-color: #43806c;
  --text-color: #214e41;
}

.navbar-nav {
  padding-left: 20px;
  color: var(--text-color);
  margin-left: auto;
}

.navbar-brand {
  margin-left: 45px;
}

.nav-link {
  color: var(--text-color) !important;
}

.btn-btn-success {
  --bs-btn-color: var(--primary-color);
  border-radius: 6px;
}

.pfoto {
  background-image: url("Rectangle.png");
  background-size: cover;
  width: 100vw;
  background-repeat: no-repeat;
  left: 0;
}

.conteiner-text {
  padding: 160px 120px 0 120px;
}

.text-on-pfoto {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
  max-width: 516px;
}

.wondering {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color);
}

.find {
  margin-top: 16px 0;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}

.find-text {
  max-width: 280px;
  color: var(--text-color);
  padding: 20px 80px 20px 20px;
  border-radius: 5px 0 0 5px;
  border: 1px solid gray;
}
.button-find {
  width: 123px;
  padding: 20px 35px;
  background-color: var(--primary-color);
  color: white;
  border: 1px solid var(--primary-color);
  border-radius: 0 5px 5px 0;
}

.more-coverage {
  display: block;
  position: relative;
  top: 100px;
  margin-top: 190px;
  background-color: white;
  padding: 50px;
  box-shadow: 1px 1px 4px rgba(197, 196, 196, 0.6);
  border-radius: 6px;
  font-style: normal;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.icon img {
  display: block;
  top: auto;
  left: -40px;
  position: relative;
}

.white-box {
  padding-top: 210px;
  padding-left: 180px;
  padding-bottom: 153px;
}

.why {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: var(--text-color);
}

.white-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
  max-width: 470px;
}

.white-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  margin-top: 35px;
  max-width: 477px;
}

.rate {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 90px;
  color: var(--text-color);
  padding-top: 170px;
}

.rate-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  color: var(--text-color);
  letter-spacing: 0.02px;
}

.rate-text a {
  color: var(--text-color);
}

.title-panel {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 22px;
  color: #757575;
  padding-left: 50px;
}

.plan-link a {
  text-decoration: none;
  color: var(--text-color);
}

.plan-link {
  margin-top: 24px;
  width: 108px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.02px;
  color: var(--text-color);
}

.see-our {
  margin-left: 40px;
}

.plan {
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 2px solid var(--text-color);
}

.green-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  color: var(--text-color);
}

.customizable {
  list-style-type: none;
  color: #43806c;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 42px;
  padding: 0;
}

.green-text {
  padding-top: 20px;
  color: white;
  font-family: "Raleway";
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: 0.02px;
}

.fouhr-box {
  padding: 120px;
}
.fouhr-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  margin-top: 24px;
}

.vector {
  background-size: cover;
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  padding: 0;
  max-width: 560px;
}
.better {
  font-weight: 900;
}

.orange-number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #f0a446;
}

.letter {
  margin: -3px;
  padding: -10px;
}

.number-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.02px;
  color: var(--text-color);
  max-width: 235px;
}

.mobail {
  margin-top: 117px;
}

.mobail-text {
  margin-top: 120px;
  padding-bottom: 20px;
}

.video {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02px;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 10px;
}

.woman {
  background-image: url("/src/woman.png");
  background-size: cover;
  padding: 120px;
  height: 100%;
  width: 100vw;
  background-repeat: no-repeat;
  left: 0;
}

.easy-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.02px;
  color: #757575;
  max-width: 500px;
  margin-top: 35px;
}

.learn {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.02px;
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 2px solid var(--text-color);
  padding-bottom: 10px;
}

.proudly {
  margin: 120px;
}
.proudly-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
  text-align: center;
}

.mcs-horizontal-example {
  overflow-x: auto;
  white-space: nowrap;
  margin: 120px auto;
}

.mcs-horizontal-example .item {
  display: inline-block;
  margin: auto 90px;
}

.response {
  margin: 120px auto;
  overflow: hidden;
  position: relative;
}
.response-img {
  display: inline;
  margin: 0;
}

.fo-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: var(--text-color);
  max-width: 350px;
}

.last-box {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-size: cover;
  height: 100%;
  width: 100%;
  background-color: #e3eeed;
}

.men-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
  padding-bottom: 50px;
}

.last-box-men {
  margin: 0;
  padding: 0;
  object-fit: cover;
  max-width: 100%;
  display: block;
  background-size: cover;
}

.last-box-text {
  background-color: #e3eeed;
  padding: 80px 120px;
  max-width: 100%;
}

.let {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: var(--text-color);
  text-decoration: none;
}
.get {
  color: #fff;
  padding: 13px 24px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02px;
  margin-top: 60px;
  background: #43806c;
  border: 1px solid #43806c;
  border-radius: 6px;
}
footer {
  background-color: var(--text-color);
  color: #fff;
  padding: 100px 120px 50px;
}

.title-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.02px;
  text-transform: uppercase;
}

.contact {
  margin: 15px auto;
  padding: 0;
}

li {
  list-style-type: none;
}

.list-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #fff;
  text-decoration: none;
  padding-bottom: 15px;
}

.email-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  margin: 20px 0;
}

.form-control {
  background-color: var(--text-color);
  color: #fff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
}

.input-group-text {
  background-color: #fff;
  padding: 20px 20px;
}

.item2 {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.policy {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  margin-top: 70px;
}

.company {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  margin-top: 20px;
}

.mail {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  margin-top: 25px;
}
.tel {
  text-decoration: none;
  color: #fff;
}

.insurance {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02px;
  margin-top: 90px;
}
